
nav {
   text-align: center;
	position: fixed;
    align-items:center;
    width: 100%;
	height: 50px;
	font-size: 0;
    background-position: center;
}
nav a {
    margin-left: 20px;
    margin: 0.9%;
    line-height: 50px;
	height: 100%;
	font-size: 15px;
	display:inline;
	position: relative;
	z-index: 1;
    text-decoration: none;
	text-align: center;
	color: white;
	cursor: pointer;   
    align-items: flex-end;
    background-attachment: inherit;
}
a:nth-child(1) {
	width: auto;
    padding-left: 10px;
    
}
a:nth-child(2) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(3) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(4) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(5) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(6) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(7) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(8) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(9) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(10) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(11) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(12) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(13) {
	width: auto;
    height: 10px;
    padding-left: 5px;
}
a:nth-child(14) {
	width: auto;
    height: 10px;

}

section{
  border: groove;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background:grey ;
}

h1 {
    
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
    
}


.container {
  position: relative;
}
.myPhotos {
  display: none;
    padding-left: 500px;
    width: 50%;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
  height: 275px;
}
.picMenu {
  opacity: 0.6;
}
.active,
.picMenu:hover {
  opacity: 1;
}



h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;

}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;

}



.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
    
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit {
    width: 200px;
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

#aboutP{
    font-size:19px;
    padding: 10px 20px 10px 20px;
    font-family: 'Roboto';
    width: 60%;
    align-items: center;
    margin-left: 20%;
}
#qrCode{
    align-items: center;
	margin: 40px 0 40px;
    	text-align: center;

}

#divLike{
    text-align: center;     
}

